[Desktop Entry]
Icon=text-html
Name=https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css
Type=Link
URL[$e]=https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css
