[Desktop Entry]
Icon=text-html
Name=https://github.com/Microsoft/vscode-cpptools/releases
Type=Link
URL[$e]=https://github.com/Microsoft/vscode-cpptools/releases
